<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="en">

<head>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset='utf-8'" />
	<title>{{title}} | New Jerusalem Bible</title>
	<style>

	h2, h3, h4, h5, h6 {
			page-break-inside: avoid;
			page-break-after: avoid;
		}

		p {
			text-align: left;
		}

		p.poem > span {
			display: block;
			padding-left: 2em;
			text-indent: -2em;
		}

		p.poem > span+br {
			display: none;
		}

		p.poem span.i1 {
			padding-left: 2em;
			text-indent: -1em;
		}

		p.poem span.i2 {
			padding-left: 3em;
			text-indent: -1em;
		}

		p.poem span.i3 {
			padding-left: 4em;
			text-indent: -1em;
		}

		div.alphabet {
			display: flex;
		}

		div.alphabet p {
			margin-top: 0
		}

		div.alphabet p:first-child {
			font-style: italic;
			width: 4em;
		}

		div.alphabet p:nth-child(2) {
			flex-grow: 1
		}

	</style>
</head>

<body>
	<h1>{{title}}</h1>

	{{ content | safe }}

</body>

</html>